<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page with Bootstrap</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  <div class="container">
    <h1 class="text-center mt-5">Here is the resulting process discovery model</h1>
  </div>
<div class="container">
    <h1 class="text-center mt-5">Generated Process Model</h1>

    <!-- Image from Flask -->
    <div class="text-center mt-4">
        <img src="{{ image_url }}" onerror="this.onerror=null; this.src='/static/default_image.png';" class="img-fluid" />
    </div>

    <br>
    <div class="text-center mt-3">
        <p>The graph shows the relationship between {{ ' and '.join(selected_ids) }}.</p>
        <br>
        <p>You selected {{ selected_value2 }} for Clustering and {{ selected_value1 }} for Process Discovery.</p>
    </div>

    <br>
    <div class="text-center mt-3">
    {% if selected_value1 == "Directly Followed Graph" %}
        <p><strong>Notes</strong></p>
        <p>The bluer the graph, the more occurrences it represents. (Applies only for DFG with frequency edges) <br>
            The thicker the arcs, the more frequent activities precede one another.<br>
            Numbers next to an activity name in the node: how many occurrences are there in that cluster. (frequency) <br>
            Numbers on the edges indicate time it takes for an activity to precede another one. (performance) <br>
            Self loops = activity occurs consecutively in some cases.<br>
            Tips for clustering: <br>
            Agglomerative clustering is not really opt for large datasets. Please check if the selected id has a large amount of rows.<br>
            DBSCAN : Too few clusters or one big cluster? Decrease eps.<br>
                    Too many clusters or no clusters? Increase eps.
        </p>
        </p>
    {% elif selected_value1 == "Inductive Miner" or selected_value1 == "Alpha Miner" %}
        <p><strong>Notes</strong></p>
        <p>
            These are the elements of a petri net: <br>
            circle: place <br>
            rectangle: transition <br>
            arrow: arc <br>
            dot: token <br>
            circle with a dot: start node <br>
            circle with a square: end node <br>
            Tips for clustering: <br>
            Agglomerative clustering is not really opt for large datasets. Please check if the selected id has a large amount of rows.<br>
            DBSCAN : Too few clusters or one big cluster? Decrease eps.<br>
                    Too many clusters or no clusters? Increase eps.
        </p>
    {% elif selected_value1 == "Heuristics Miner" %}
        <p><strong>Notes</strong></p>
        <p>
            Edges indicate causal dependency (activity A occurs before B often).<br>
            Green node: start node <br>
            Orange node: end node <br>
            Tips for clustering: <br>
            Agglomerative clustering is not really opt for large datasets. Please check if the selected id has a large amount of rows.<br>
            DBSCAN : Too few clusters or one big cluster? Decrease eps.<br>
                    Too many clusters or no clusters? Increase eps.
        </p>
    {% endif %}

    </div>

</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>